<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="../static/css/registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-container">

        <div class="registration-container">

            <div class="registration-image">
                <img src="../static/img/registration.jpg" alt="Registration Image">
            </div>

            <div class="form-container">
                <h1>Build Your Perfect Body</h1>
                <form action="http://127.0.0.1:5000/user-details" method="get">
                    <input type="text" placeholder="Full name" required>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <button class="cta-button" type="submit">Sign up</button>
                </form>
                <p>Already have an account? <a href="#">Log in</a></p>
            </div>
        </div>
    </div>
</body>

</html>